/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
    margin: 0;
}
ul,
ol {
    padding: 0;
    list-style: none;
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Utitlites */
body {
    background-color: #0c4a6e;
    color: #f0f9ff;
}
.container {
    max-width: 1170px;
    padding-inline: 30px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.lead {
    font-size: 1.25rem;
}
.heading {
    font-size: 2.5rem;
    line-height: 1.1;
}
.sub-heading {
    color: rgba(14, 165, 233, 0.5);
    font-size: 1.375rem;
    font-weight: 500;
}
.text-center {
    text-align: center;
}

/* Styles */
/* header  */
.header .container {
    padding-top: 10rem;
    padding-bottom: 13rem;
}
.header .grid {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.header img {
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 95%;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    object-fit: cover;
    object-position: center top;
}
.header-text {
    /* grid-column: 2 / span 2; */
    justify-self: start;
    align-self: center;
}
.header-text h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.header-text h1 span {
    color: #22d3ee;
}
.header .lead {
    max-width: 420px;
}
.socials {
    margin-top: 1rem;
}
.fab {
    font-size: 1.25rem;
    margin-right: 0.75rem;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}
.fab:hover {
    color: #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* Media Querries */
@media screen and (max-width: 1024px) {
    .header .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .header img {
        grid-column: 1 / span 2;
    }
    .header .header-text {
        grid-column: 3 / span 2;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
    html {
        font-size: 80%;
    }
    .header .container {
        padding-top: 4rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    .header .grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
    .header img {
        width: 70%;
        height: 90%;
        grid-column: 1;
        grid-row: 2;
    }
    .header .header-text {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }
}
